@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&display=swap');

body {
    background-color: oldlace;
    font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    margin-left: 15%;
    margin-right: 15%;
    transition-property: margin-left, margin-right, background-color;
    transition-duration: 2s;
}

h1 {
    text-align: center;
    transition-property: font-size;
    transition-duration: 1.5s;
    transform: translate(50px, -50px);
}

div.courselist {
    display:flex;
    flex-wrap: wrap;
}

div.courselisttitle {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

div.course {
    width: 20%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.myclass {
    color:moccasin;
}

p {
    font-size:0.9em;
}

p.courses {
    font-style: italic;
}

p.courses:hover {
    font-size: 1.1em;
}

p.responsibilities {
    text-indent: 1em;
}


h2 {
    color:darkcyan;
}

a {
    color:rgb(51, 212, 191);
    text-decoration: none;
    border-bottom: rgb(51, 212, 191) transparent 1px;
    transition-property: border-bottom;
    transition-duration: 0.5s;
}

a:hover {
    border-bottom: rgb(51, 212, 191) solid 1px;
}


img#imgjchemed {
    width: 20%;
    border: 0.2em brown solid;
    float: right;
    margin-left: 0.5em;
}

ol li.float {
    float: left;
    width: 20%;
    background-color: lavender;
    margin-right: 40px;
    border: 3px solid coral;
}


header, footer {
    display: flex;
    height: 5em;
    justify-content: center;
    align-items: center;
        border: 1px solid brown;
    background-color: wheat;
}

div.nav {
    width: 30%;
     /*  border: 2px dotted black;*/
    text-align: center;
    font-size: 2.5vw;
}

/* Add a CSS media query that reduces the margin-size when the window is narrow */
@media (max-width: 750px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
        background-color:lightyellow;
        font-size: 0.8em;
    }
    ol li.float {
        float: none;
        width: auto;
        margin-right: auto;
    }

    header, footer {
        background-color:lemonchiffon;
        justify-content: space-around;
    }
}

/* CSS media query that changes the font size of the navigation elements to a fixed value when 
the screen size is less than 1200px*/

@media screen and (max-width: 1200px) {
    div.nav {
        font-size: 1.2em;
        width: 45%;
    }
}